In [3]:
import pandas as pd
import sklearn.neural_network as ann
import sklearn.model_selection as ms
from sklearn.neural_network import MLPRegressor

from sklearn import neural_network
import matplotlib.pyplot as plt
import numpy as np
import sys

In [4]:
df_occupancy = pd.read_csv('datatraining.csv', header=0, names = ["id", "date", "Temperature", "Humadity", "Light", "CO2", "HumadityRatio", "Occupancy"])

In [5]:
df_occupancy

,id,date,Temperature,Humadity,Light,CO2,HumadityRatio,Occupancy
0,1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.250000,0.004793,1
1,2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.000000,0.004783,1
2,3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.500000,0.004779,1
3,4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.250000,0.004772,1
4,5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.500000,0.004757,1
...,...,...,...,...,...,...,...,...
8138,8139,2015-02-10 09:29:00,21.05,36.0975,433.0,787.250000,0.005579,1
8139,8140,2015-02-10 09:29:59,21.05,35.9950,433.0,789.500000,0.005563,1
8140,8141,2015-02-10 09:30:59,21.10,36.0950,433.0,798.500000,0.005596,1
8141,8142,2015-02-10 09:32:00,21.10,36.2600,433.0,820.333333,0.005621,1
8142,8143,2015-02-10 09:33:00,21.10,36.2000,447.0,821.000000,0.005612,1

In [6]:
X = df_occupancy.drop (['id', 'date'],axis=1)
y = df_occupancy['Occupancy']

In [7]:
X.describe()

,Temperature,Humadity,Light,CO2,HumadityRatio,Occupancy
count,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000
mean,20.619084,25.731507,119.519375,606.546243,0.003863,0.212330
std,1.016916,5.531211,194.755805,314.320877,0.000852,0.408982
min,19.000000,16.745000,0.000000,412.750000,0.002674,0.000000
25%,19.700000,20.200000,0.000000,439.000000,0.003078,0.000000
50%,20.390000,26.222500,0.000000,453.500000,0.003801,0.000000
75%,21.390000,30.533333,256.375000,638.833333,0.004352,0.000000
max,23.180000,39.117500,1546.333333,2028.500000,0.006476,1.000000

In [8]:
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size = 0.2)
X_train.count()

Temperature      6514
Humadity         6514
Light            6514
CO2              6514
HumadityRatio    6514
Occupancy        6514
dtype: int64

Selanjutnya proses normalisasi

In [9]:
import sklearn.preprocessing as pp
scl = pp.StandardScaler (copy=True, with_mean=True, with_std=True)
scl.fit(X_train)
X_train = scl.transform(X_train)
X_test = scl.transform(X_test)

In [10]:
print(X_train.min())
print(X_train.max())

-1.6169169094243394
7.34102691294438

In [11]:
mlp = ann.MLPClassifier(hidden_layer_sizes=(3), max_iter=5)
mlp.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (5) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier(hidden_layer_sizes=3, max_iter=5)

In [13]:
y_prediksi = mlp.predict(X_test)

In [14]:
import sklearn.metrics as met
print(met.classification_report(y_test, y_prediksi))

              precision    recall  f1-score   support

           0       0.85      0.87      0.86      1273
           1       0.49      0.44      0.47       356

    accuracy                           0.78      1629
   macro avg       0.67      0.66      0.66      1629
weighted avg       0.77      0.78      0.77      1629

In [15]:
from sklearn.neural_network import MLPClassifier
mlp = ann.MLPClassifier(hidden_layer_sizes=(3), max_iter=5, activation='logistic')

In [12]:
print(mlp.coefs_)

[array([[-0.62647593, -0.33737479,  0.47239734],
       [ 0.43079687, -0.12036813,  0.51560143],
       [ 0.49303861, -0.60860666, -0.70237816],
       [-0.12451877, -0.23304634,  0.64486812],
       [ 0.70763042,  0.1974745 , -0.16280715],
       [ 0.73364525, -0.08481273, -0.04254279]]), array([[ 0.57299367],
       [ 0.98616612],
       [-0.65488822]])]